Host db web
    User                root
    IdentityFile        ~/.ssh/production

Host aws
    User                ec2-user
    Hostname            ec2-xx-xxx-xxx-xxx.us-west-1.compute.amazonaws.com
    IdentityFile        ~/.ssh/aws

Host *
    ControlMaster       auto
    IdentityFile        ~/.ssh/id_rsa
