Host production_web
    User                root
    HostName            10.0.2.30
    IdentityFile        ~/.ssh/production

Host jenkins
    User                jenkins
    Hostname            10.0.2.25
    IdentityFile        ~/.ssh/builder

Host aws
    User                ec2-user
    Hostname            ec2-xx-xxx-xxx-xxx.us-west-1.compute.amazonaws.com
    IdentityFile        ~/.ssh/aws

Host *
    ControlMaster       auto
    ControlPath         ~/.ssh/%r@%h:%p
    ControlPersist      120h
    IdentityFile        ~/.ssh/id_rsa
    ForwardAgent        yes
